---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: ELK
  name: kibana-config
  labels:
    app: kibana
data:
  kibana.yml: |-
    server.host: 0.0.0.0
    elasticsearch:
      hosts: ${ELASTICSEARCH_HOSTS}
---
